{% extends 'core/base.html' %}

{% load hitcount_tags %}

{% block title %}Welcome{% endblock %}
{% block content %}
<style>
    @media (max-width: 520px) {
        .container {
            grid-template-columns: 1fr 1fr;
        }
    }
</style>
    <div class="mt-6 px-6 py-12 bg-slate-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center" style="font-family: Tahoma"> Самое новое </h2>
        <div class="container grid grid-cols-3 gap-3">
            {% for item in items %}
                <div>
                    <a href="{% url 'item:detail' item.id %}">
                        <div>
                            <img src="{{ item.images.first.image.url }}" class="rounded-t-xl">
                        </div>

                        <div class="p-6 bg-white rounded-b-xl" style="font-family: Tahoma">
                            <h2 class="text-2xl">{{ item.name }}</h2>
                            <p class="text-slate-400"> {{ item.price }} KZT</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- <div class="mt-6 px-6 py-12 bg-slate-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center" style="font-family: Tahoma"> Категории </h2>

        <div class="grid grid-cols-3 gap-3">
            {% for category in categories %}
                <div>
                    <div class="p-6 bg-white rounded-b-xl" style="font-family: Tahoma">
                        <h2 class="text-2xl" style="font-family: Tahoma">{{ category.name }}</h2>
                        <p class="text-slate-400" style="font-family: Tahoma">{{ category.items.count }} items </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div> -->
{% endblock %}